.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */
.header .brand-logo {
  position: static;
}

.header .favorites {
  margin-left: 20px;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select .caret {
  fill: #fff;
}

.header .brand-logo {
  font-size: 1.5rem;
}

.favourites  {
  position: relative;
  display: inline-block;
}

.btn-rounded-0 i {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: transparent;
  transition: background-color .3s ease-in;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}

.favourites .favourites-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.favourites-content .favourite-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.favourites-content .favourite-item:hover {
  background-color: #ddd;
}

.favourites:hover .favourites-content {
  display: block;

}

.favourites .favourite-item-airline-img {
  max-width: 100px;
  margin-right: 10px;
}

.favourites .favourite-item-info {
  flex-grow: 1;
  padding: 10px;
  line-height: 1;
  height: auto;
}

.favourites .favourite-item-info .material-icons {
  line-height: 1;
  height: auto;
}

.favourites .favourite-item-destination {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
}

.favourites .ticket-price {
  font-size: 18px;
  font-weight: bold;
}

.favourites .ticket-additional-info {
  font-size: 12px;
}

.favourites .ticket-time-departure {
  font-size: 14px;
}

.favourites .delete-favorite {
  margin-top: 10px;
}

.card .ticket-card {
  padding: 10px 15px;
  border-radius: 5px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-card .ticket-airline {
  margin-bottom: 10px;
}

.ticket-card .ticket-price {
  right: 15px;
  bottom: 8px;
}

.ticket-time-departure .ticket-time-return {
  font-weight: bold;
  color: gray;
  padding: 10px;

}

 .ticket-time-price .ticket-time-return {
  padding-left: 50px;
}

.ticket-price {
  font-size: 20px;
  padding: 5px;
  background: #fff;
  color: rgb(34, 233, 233);
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

.ticket-card .add-favourite {
  position: absolute;
  top: 0;
  right: 13px;
  margin-top: 10px;
  cursor: pointer;
}

.favourite-icon::after {
  content: 'favorite_border';
}
.favourite-icon.favourite-true::after {
  content: 'favorite';
}